<main class="main">
  <button (click)="generatePDF()">multi page</button>
  <button (click)="handleExport()">Generate PDF</button>
  <div class="upper" style="max-height: 600px; overflow: auto">
    <div class="" #pdfContent id="invoice_container">
      <app-pie-chart
        [labels]="labels1"
        ChartId="MyChart"
        class="page-to-export"
      ></app-pie-chart>
      <app-pie-chart
        [labels]="labels2"
        ChartId="MyChart2"
        class="page-to-export"
      ></app-pie-chart>
      <app-pie-chart
        [labels]="labels3"
        ChartId="MyChart3"
        class="page-to-export"
      ></app-pie-chart>
      <app-pie-chart [labels]="labels4" ChartId="MyChart4"></app-pie-chart>
      <app-pie-chart [labels]="labels5" ChartId="MyChart5"></app-pie-chart>
      <app-pie-chart [labels]="labels6" ChartId="MyChart6"></app-pie-chart>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
